






/*



** HTML elements



*/



body {



  margin: 0;



  padding: 0;



  color: #000;



  background-color: #fff;



  font: 76% Verdana, Arial, Helvetica, sans-serif;



}



tr.odd td, tr.even td {



  padding: 0.3em;



}



h1, h2, h3, h4, h5, h6 {



  margin-bottom: 0.5em;



 



}



h1 {



  font-size: 18pt;

  font-family:Trebuchet MS, verdana;

  background-color:#E5E5E5;

  

  width:98%;

  padding:3px 0 2px 5px;

  margin-bottom:0px;



}



h2 {



  font-size:13pt;

   font-family: trebuchet MS, verdana;

    margin-bottom:0px;



}



h3, h4, h5, h6 {



  font-size: 1.1em;



}



p {



  margin-top: 0.5em;



  margin-bottom: 0.9em;



}



a:link { color: #323232;

text-decoration: none;

border-bottom: 1px dotted #aaa;}

a:visited {color: #323232;

text-decoration: none;

border-bottom: 1px dotted #aaa;

}



a:hover {

color: #323232;

text-decoration: none;

background: #ECE8D4;

border-bottom: 1px solid #aaa;}

a:active {

color: #323232;

text-decoration: none;

background: #ECE8D4;

border-bottom: 1px solid #aaa;}



fieldset {



  border: 1px solid #ccc;



}



pre {



  background-color: #EAF4F5;



  padding: 0.75em 1.5em;



  font-size: 12px;



  border: 1px solid #ddd;



}



table {



  /* make <td> sizes relative to body size! */



  font-size: 1em;



}











thead th {



  border-bottom: 2px solid #000;



  font-weight: bold;



}



th a:link, th a:visited {



  color: #000;



}



tr.even, tr.odd, tbody th {



  border: solid #000;



  border-width: 1px 0;



}



tr.odd, tr.info {



  background-color: #ECE8D4;



}



tr.even {



  background-color: #E9F3F4;



}



td.region, td.module, td.container {



  border-top: 1.5em solid #fff;



  border-bottom: 1px solid #b4d7f0;



  font-weight: bold;



}



tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {



  border-top-width: 0;



}







.form-item label {



  font-size: 1em;



  color: #222;



}



.item-list .title {



  font-size: 1em;



  color: #222;



}



.links {



  margin-bottom: 0;



}



.comment .links {



  margin-bottom: 0;



}







/*



** Page layout blocks / IDs



*/



#header, #content {



  width: 100%;



}



#header {



  background-color: #F0F6FB;



}



#logo {



  vertical-align: middle;

  background-image:url(evakoss.gif);

  background-repeat:no-repeat;

  border: 0;

  padding-top:17px;

 



}



#logo img {



  float: left;



 



  border: 0;



}



#menu {



  padding: 0.2em  0.2em 0 0.2em;



  padding-bottom:0.2em;



  text-align: left;



  font-size:11px;



  vertical-align: middle;



}



#search-box {



  padding: 0.2em  0.2em 0 0.2em;



  padding-bottom:0.2em;



  text-align: right;



  font-size:11px;



  vertical-align: bottom;



}



#navlist {



  font-size: 1.0em;



  vertical-align: middle;



  color: #9cf;



}



#navlist a:link,

#navlist a:visited {

color: #fff;

text-decoration: none;

font-size:11px;

font-family: Verdana, Arial, Helvetica, sans-serif;}

#navlist a:hover {

color: #fff;

text-decoration: none;

 background: #4592D6; 

border-bottom: 1px solid #323232;

font-size:11px;

font-family: Verdana, Arial, Helvetica, sans-serif;

}

#navlist a:active {

color: #fff;

text-decoration: none;

background: #246FB2; 

border-bottom: 1px solid #323232;

font-size:11px;

font-family: Verdana, Arial, Helvetica, sans-serif;

}



#subnavlist {



  padding: 0.5em 1.2em 0.4em 0;



  font-size: 0.8em;



  color: #9cf;



}



#subnavlist a {



  font-weight: bold;



  color: #9cf;



}



ul.links li {



  border-left: 1px solid #9cf;



}



ul.links li.first {



  border: none;



}



#search .form-text, #search .form-submit {



  border: 1px solid #369;



  font-size: 1.1em;



  height: 1.5em;



  vertical-align: middle;



}



#search .form-text {



  width: 8em;



  padding: 0 0.5em;



}



#mission {



  background-color: #369;



  padding: 1.5em 2em;



  color: #fff;



}



#mission a, #mission a:visited {



  color: #9cf;



  font-weight: bold;



}



.site-name {



  margin: 0.6em 0 0 0;

  padding-bottom:60px;

  padding-right:20px;

  font-size: 2em;

  padding-top:15px;

 



}



.site-name a:link, .site-name a:visited {



  color: #fff;



 



}



.site-name a:hover {



  color: #B93D17;



  text-decoration: none;



}



.site-slogan {



  font-size: 1em;



  color: #eee;



  display: block;



  margin: 0;



  font-style: italic;



  font-weight: bold;



}



#main {



  /* padding in px not ex because IE messes up 100% width tables otherwise */



  padding: 10px;



}



#mission, .node .content, .comment .content {



  line-height: 1.4em;



}



#help {



  font-size: 0.9em;



  margin-bottom: 1em;



}



.breadcrumb {



  margin-bottom: .5em;



}



.messages {



  background-color: #EAF4F5;



  border: 1px solid #ccc;



  padding: 0.3em;



  margin-bottom: 1em;



}



.error {



  border-color: red;



}



#sidebar-left, #sidebar-right {



  background-color: #ECE8D4;



  width: 16em;



  /* padding in px not ex because IE messes up 100% width tables otherwise */



 



  vertical-align: top;



}



#footer {



  background-color: #ffffff;



  text-align:center;



  font-size: 0.8em;



}







/*



** Common declarations for child classes of node, comment, block, box, etc.



** If you want any of them styled differently for a specific parent, add



** additional rules /with only the differing properties!/ to .parent .class.



** See .comment .title for an example.



*/



.title, .title a {



 color: #000;



  padding: 5px 8px 5px;



  margin: 0;



}



.title-block, .title-block a {



 color: #fff;



  padding: 5px 8px 5px;



  margin: 0;



}



.submitted {



  color: #999;



  font-size: 0.8em;



}



.links {



  color: #999;



}



.links a {



 



}



.block, .box {



  padding: 0 0 1.5em 0;



}



.block {



 



  padding-bottom: 0.75em;



  margin-bottom: 1.5em;



}



.block .title {



  margin-bottom: .25em;



}



.box .title {



  font-size: 1.1em;



}



.node {



  margin: .5em 0 2em 0;



}



.sticky {



  padding: .5em;



  background-color: #EAF4F5;



  border: solid 1px #ddd;



}



.node .content, .comment .content {



  margin: .5em 0 .5em 0;



}



.node .taxonomy {



  color: #999;



  font-size: 0.8em;



  padding-left: 1.5em;



}



.node .picture {



  border: 1px solid #ddd;



  float: right;



  margin: 0.5em;



}



.comment {



  border: 1px solid #abc;



  padding: .5em;



  margin-bottom: 1em;



}



.comment .title a {



  font-size: 1.1em;



  font-weight: normal;



}



.comment .new {



  text-align: right;



  font-weight: bold;



  font-size: 0.8em;



  float: right;



  color: red;



}



.comment .picture {



  border: 1px solid #abc;



  float: right;



  margin: 0.5em;



}







/*



** Module specific styles



*/



#aggregator .feed-source {



  background-color: #EAF4F5;



  border: 1px solid #ccc;



  padding: 1em;



  margin: 1em 0;



}



#aggregator .news-item .categories, #aggregator .source, #aggregator .age {



  color: #999;



  font-style: italic;



  font-size: 0.9em;



}



#aggregator .title {



  margin-bottom: 0.5em;



  font-size: 1em;



}



#aggregator h3 {



  margin-top: 1em;



}



#forum table {



  width: 100%;



}



#forum td {



  padding: 0.5em;



}



#forum td.forum, #forum td.posts {



  background-color: #EAF4F5;



}



#forum td.topics, #forum td.last-reply {



  background-color: #ddd;



}



#forum td.container {



  background-color: #ccc;



}



#forum td.container a {



  color: #555;



}



#forum td.statistics, #forum td.settings, #forum td.pager {



  height: 1.5em;



  border: 1px solid #bbb;



}



#forum td .name {



  color: #96c;



}



#forum td .links {



  padding-top: 0.7em;



  font-size: 0.9em;



}



#profile .profile {



  clear: both;



  border: 1px solid #abc;



  padding: .5em;



  margin: 1em 0em;



}



#profile .profile .name {



  padding-bottom: 0.5em;



}



.block-forum h3 {



  margin-bottom: .5em;



}



div.admin-panel .description {



  color: #000;



}



div.admin-panel .body {



  background: #ECE8D4;



}



div.admin-panel h3 {



  background-color: #B93D17;



  color: #fff;



  padding: 5px 8px 5px;



  margin: 0;



}



#rss12 { float:left;    }



.space { float:left; width:100%; }



.wh1 { color:#fff; background-image: url(header_bg.jpg); height:21px;}

.white { color:#ffffff; }







a.white123:link { color: #ffffff; border-bottom: 0px;   background: none;   text-decoration: none }



a.white123:visited { color: #ffffff; border-bottom: 0px;   background: none;   text-decoration: none }



a.white123:active { color: #ffffff; border-bottom: 0px;   background: none;   text-decoration: none }



a.white123:hover { color: #ffffff; border-bottom: 0px;   background: none;   text-decoration: none }

a.custom:link,

a.custom:visited {

color: #065192;

text-decoration: none;

font-size:13px;

font-weight:bolder;

font-family: trebuchet MS, Times New Roman, Times, serif;}

a.custom:hover {

color: #065192;

text-decoration: none;

background: #ECE8D4;

border-bottom: 1px solid #323232;

font-size:13px;

font-weight:bolder;

font-family:trebuchet MS, Times New Roman, Times, serif;}
a.evakoss-link:link,

a.cms-link:visited {

color: #323232;

text-decoration: none;

border-bottom: 1px dotted #aaa;

}

a.cms-link:hover {

color: #323232;

text-decoration: none;

background: #F8F5E5;

border-bottom: 1px solid #aaa;

}

a.cms-link:active {

color: #323232;

text-decoration: none;

background: #F8F5E5;

border-bottom: 1px solid #aaa;

}
.page_title_size {

	font-family: "Trebuchet MS", "Times New Roman", Times, serif;

	font-weight: bold;

	font-size: 14pt;

}

.logo_td
{
	padding-left:9px;
}